body {
    background-color: #BFDEEE;
    margin: 0;
    padding: 1rem;
}

.site-header {
    height: 50px;
    width: 100%;
    position: fixed;
    border: 3px;
    background-color: #C6C1E6;
    top:0;
    border: 3px black solid;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.right {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: center;
    gap: 0.3rem;
    right: 0;
    top: 0;
    padding-top: 30px;
    
    background-color: #FAA7A7;
    color:black;
    width: 250px;
    height: 100%;
    border: 4px black solid;
  }

  a {
    background-color: #798DDD;
    width: 250px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    font-family: Raleway; 
    text-decoration: none;
    color: black;
    border: 4px black solid;
  }

  .ch {
    width: 250px;
    height: 35px;
    font-size: 25px;
    text-align: center;
    background-color: #F7E9A0;
    font-family: Raleway; 
    border: 4px black solid;
  }

  .srh {
    width: 500px;
    height: 25px;
    font-size: 20px;
    font-family: Raleway; 
    margin-top: 10px;
    border: 2px black solid;
  }

.im {
    width: 30px;
    position: fixed;
    display: flex;
    right: 2px;
    bottom: 2px;
}

.but {
  background: #faa7a7;
  line-height: 2;
  border-radius: 20px;
  font-size: 20px;
  border: 4px black solid;
  padding: 0.5rem 1rem;
  margin-top: 50px;
}